<html>
    <head>
        <title>panopticon | delete account</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" href="/favicon.png" />
    </head>
    <body>
        <div class="header">
            <h1><a href="/">panopticon</a></h1>
            <h2><a href="/about">about</a></h2>
            <h2><a href="/settings">settings</a></h2>
            <h2><a href="/logout">log out</a></h2>
        </div>
        <div class="main">
            <h2>delete account</h2>
            <div class="ruled">
                <p>deleting your account is irreversible and will remove all of your data from our servers. specifically:</p>
                <ul>
                    <li><p>your name</p></li>
                    <li><p>your email</p></li>
                    <li><p>your password</p></li>
                    <li><p>your secrets</p></li>
                </ul>
                <p>your secrets may take some time to delete.</p>
            </div>
            <form method="post">
                <button type="submit" id="delete-account">delete</button>
            </form>
        </div>
        <div class="footer">
            <p>made with 💖 by <a href="https://github.com/rockysnow7">finn</a>. this website uses one (1) cookie.</p>
        </div>
    </body>
</html>
