<html>
    <head>
        <title>panopticon | log in</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" href="/favicon.png" />
    </head>
    <body>
        <div class="header">
            <h1 class="selected"><a href="/">panopticon</a></h1>
            <h2><a href="/about">about</a></h2>
        </div>
        <div class="main">
            <h2>log in</h2>
            <form method="post" id="login-form">
                <input type="text" name="email" placeholder="sylvia@example.com" <% if (givenEmail) { %>value="<%= givenEmail %>"<% } %> required <% if (error && error.type === "email") { %>class="error"<% } %>><br>
                <input type="password" name="password" placeholder="password" required <% if (error && error.type === "password") { %>class="error"<% } %>>
                <button type="submit">log in</button>
            </form>
            <% if (error) { %>
                <p class="error"><%= error.message %></p>
            <% } %>
            <p>don't have an account? <a href="/signup">sign up</a>.</p>
        </div>
        <div class="footer">
            <p>made with 💖 by <a href="https://github.com/rockysnow7">finn</a>. this website uses one (1) cookie.</p>
        </div>
    </body>
</html>
